.heroo_section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #333;
    padding: 150px 0;
    overflow: hidden;
    background-image: url(/assets/images/hero1.jpg);
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center;
  }
  .heroo_section span{
font-size: 30px;
font-weight: bold;

  }


.blog-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px;
    padding-left: 8rem;
    padding-top: 3rem;

}

.blog-card {
    width: calc(30.33% - 20px); 
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 20px;
}
.card-date {
    display: block;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.card-content h2 {
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.read-more {
   
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
   
}






@media(max-width : 860px){
    .blog-cards-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-card{
        width: 20rem;
        margin-left: -3rem;
    }
}
