/* Reset default styles */
body, h1, h2, form, input, textarea, button, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  header h1, footer p {
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    padding-top: 5rem;
  }
  
  section {
    width: 48%;
  }
  
  .contact-form, .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-form h2, .contact-info h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea, button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .contact-info ul {
    list-style: none;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    margin-right: 10px;
  }
  .message {
    margin-bottom: 10px;
    font-weight: bold;
}

.success {
    color: green;
}

.error {
    color: red;
}

  
  /* Responsive design */
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    section {
      width: 100%;
    }
    .login_button {
      padding: 10px 20px;
      background-color: #8bc34a;
      color: white;
      margin-left: 300px;
    }
  }
  