.heroo_section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #333;
    padding: 150px 0;
    overflow: hidden;
    background-image: url(/assets/images/hero1.jpg);
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center;
  }
  .heroo_section span{
font-size: 30px;
font-weight: bold;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-card {
  width: 400px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-info {
    padding: 20px;
}

.project-info h2 {
    margin-top: 0;
    color: #333;
}

.project-info p {
    margin-bottom: 10px;
    color: #666;
}

.project-info .demo-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project-info .demo-link:hover {
    background-color: #0056b3;
}

.project-image {
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
    transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .container {
      flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
  }

  .project-card {
      margin: 10px;
      width: calc(50% - 20px);
  }
}

/* Styles for small screens */
@media screen and (max-width: 576px) {
  .project-card {
      width: calc(80% - 20px); /* Make each card take up 100% of the container width with margin */
  }
}