:root {
    --primary-color:  #51af5b;
    --secondary-color: #51af5b;
    --tertiary-color: #393e46;
    --fill-color: #eeeeee;
    color: var(--bgcolor);
  }
  
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
  }
  
  .myLinks{
    display: none;

  } 
  .icon{
  
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 3rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    color: black;
    
  }
  .nav {
    margin-left: 85px;
  }
  
 
  nav a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-size: 16px;
  }
  
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #007bff; 
  transition: width 0.3s ease, left 0.3s ease;
  }
  
nav a:hover::after,
nav a.active::after {
  width: 100%;
  left: 0;
}


nav a.active {
  font-weight: bold;
}

  
  header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
  
  header div,
  nav {
    display: flex;
    align-items: center;
  }
  .far {
    color: var(--primary-color);
  }
  .message {
    margin-bottom: 10px;
    font-weight: bold;
    color: red; /* Default color for error messages */
}
.success {
    color: green; /* Green color for success messages */
}


  
  .login_button {
    padding: 12px 35px;
    background-color: var(--primary-color);
    color: white;
    margin-right: -250px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
  }
  .login_button:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all .3s ease-in;
    font-weight: 700;
  }
  
  .farmie {
    font-size: 23px;
  }
  .menu{
    display: none;
  }
  
  /*Hero section*/
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.hero_section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  padding: 100px 0;
  overflow: hidden;
  background-image: url(/assets/images/hero1.jpg);
  background-size: cover; /* Adjusts the background image to cover the entire container */
  background-position: center;
}

.hero_content {
    max-width: 50%;
    padding-right: 50px;
    z-index: 1;
    text-align: left;
}

.hero_image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
    border: 4px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-btns {
    margin-top: 30px;
}

.hero-btns button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #51af5b;
    color: #fff;
    transition: background-color 0.3s;
}

.hero-btns button:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero_section {
        flex-direction: column;
    }
    .hero_content {
        max-width: 100%;
        padding: 0 20px;

        margin-top: 30px;
    }
    .hero_image {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    .hero-btns button {
        font-size: 16px;
    }
}


  

.main-content{
    text-align: center;
 }

/*service section*/
/* styles.css */

.personalize-section {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feature {
  flex: 1 1 300px;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-10px);
}

.feature img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 14px;
  line-height: 1.4;
}

.services-section {
  background-color: white;
  padding: 50px 20px;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 300px;
  max-width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 80px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.4;
}


/*TESTMONIALS*/
/* styles.css */

/* Testimonials Section */
.testimonial-holder {
  background-color: #f0f0f0; /* Light background color */
  color: #000000; /* Black text color */
  padding: 50px 0; /* Adjust padding as needed */
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  background-color: #ffffff; /* White background color for cards */
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  margin: 20px;
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px); /* Add a slight lift effect on hover */
}

.testimonial-content {
  padding: 20px;
}

.testimonial-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #51af5b; /* Accent color for author section */
  color: #ffffff; /* White text color */
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.author-details h4 {
  margin: 0;
  font-size: 18px;
}

.author-details span {
  font-size: 14px;
}

/*Scroll*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.scroll-btn {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #51af5b;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
}

.scroll-btn:hover {
  background-color: #0056b3;
}

.fa-arrow-up {
  font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropbtn {
  list-style: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/*footer*/

.footer {
  border-top: 2px solid grey;
 
}

.footer-content {
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-row .title h4 {
  color: var(--bgcolor);
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;
}

.footer-row p {
  color: var(--paragraph);
  font-size: 1rem;
  line-height: 1.6;
  max-width: 273px;
}

.title h4 span {
  color: #51af5b;
}

.mark {
  font-size: 34px !important;
  font-weight: 600 !important;
}



/* Address icons */
.q-body > div {
  margin-bottom: 16px;
}

.flex-content {
  display: flex;
  gap: 10px;
}

/* Footer social icons */

.f-social-icons {
  display: flex;
}

.f-social-icons > div {
  background-color: var(--primary-color);
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}


.f-social-icons > div:hover {
  background-color:  #0056b3;
}
/* Newsletter Section */
.newsletter {
  width: 100%;
  max-width: 350px;
  margin-bottom: 40px;
}
.newsletter .title h4 {
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.subscribe-form button {
  background-color: var(--primary-color);
  color: var(--fill-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.subscribe-form button:hover {
  background-color: #ffdb4d;
}

/* Copyright */
.copyright p {
  text-align: center;
}

.copyright {
  position: relative;
}

.back-top {
  font-size: 45px;
  position: absolute;
  right: 50px;
  bottom: -40px;
  animation: mymove infinite;
  animation-duration: 1s;
}

@keyframes mymove {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/* Readit section */
.readit-body {
  margin-bottom: 20px;
}



/* Responsiveness */
/* Media queries for responsiveness */
@media screen and (max-width: 769px) {
  .footer-row > div {
    margin-bottom: 10px; /* Reduced margin bottom for smaller screens */
    flex-basis: 100%;
    text-align: left;
    margin-left: 80px;
  }

  .footer-row .title h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .footer-content {
    padding: 40px 0;
  }

  .back-top {
    font-size: 40px;
    right: 20px;
  }
}

@media screen and (max-width: 768px) {
    .testimonials-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    }
    .cards-holder{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .testimonials-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    }
    .cards-holder{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

  

  
  @media screen and (max-width: 1024px) {
    header .nav-btn {
      visibility: visible;
      opacity: 1;
      font-size: 1.2rem;
    }
  
    header nav {
      position: absolute;
      top: -100vh;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color:#393e46;
      transition: 1s;
      z-index: 1000;
    }
    header h3 {
      font-size: 20px;
    }
  
    header .responsive_nav {
      transform: translateY(100vh);
    }
  
    nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: black;
    }
  
    nav a {
      font-size: 1rem;
      color: white;
    }
    nav a:hover {
      color: black;
    }
    .login_button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      margin-left: -78px;
    }
  .menu{
    display: block;
  }
  .show-nav .nav {
    display: block;
}
/*menu responsive*/
  }
  @media screen and (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-image: url(./images/hero1.jpg);
        width: 90%;
        text-align: center;
        z-index: 1000;
       
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        padding: 10px 0;
        margin: 0;
        width: 40%;
      
    }
    .nav a:hover{
      color: var(--fill-color);
    }

    .login_button {
        display: block;
        text-align: center;
    }
}